/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*Global Rules*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    height: 5000px;

}

/*-------------*/
.parent {
    height: 100vh;
    transition: margin-top .5s ease;
    -webkit-transition: margin-top .5s ease;
    -moz-transition: margin-top .5s ease;
    -ms-transition: margin-top .5s ease;
    -o-transition: margin-top .5s ease;
}

.dii {
    margin: auto;
    margin-top: 5%;
    width: 50%;
    height: 500px;
    background-color: rgb(221, 217, 217);
    transition: margin-top .5s steps(3, end);
    -webkit-transition: margin-top .5s steps(3, end);
    -moz-transition: margin-top .5s steps(3, end);
    -ms-transition: margin-top .5s steps(3, end);
    -o-transition: margin-top .5s steps(3, end);
}

p {
    text-align: center;
    font-size: 2rem;
    padding: 20px;
}

.diichild {
    background-color: gray;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    transition: margin-top .5s .5s steps(3, end);
    -webkit-transition: margin-top .5s .5s steps(3, end);
    -moz-transition: margin-top .5s .5s steps(3, end);
    -ms-transition: margin-top .5s .5s steps(3, end);
    -o-transition: margin-top .5s .5s steps(3, end);
}

.dii:hover {
    margin-top: 0%;
}

.dii:hover .diichild {
    margin-top: 5%;
}

hr {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: 5px;
    background-color: black;
}

.ss {
    font-size: 20px;
    width: 70%;
    background-color: lightgray !important;
    border: none !important;
    margin: auto;
    text-align: center;
    color: transparent !important;
    position: relative;
}

.ss::before {
    content: "amro";
    color: rgb(36, 36, 36);
    position: absolute;
    top: 10%;
    left: 43%;
}

/* :root {
  --mainColor: #009688;
  --mainPadding: 10px;
} */

div {
    
    padding: var(--mainPadding,10px);
    border:solid 2px var(--mainColor,black);
    width: 50%;
    margin: auto;
    margin-top: 1%;
    color: var(--mainColor,red);
}