 /*logo*/
 .normal-logo {
     max-width: 9vw;
     height: auto;
 }

 .mobile-logo {
     max-width: 20vw;
     height: auto;
     display: none;

 }

 @media (max-width: 768px) {

     .logo img.normal-logo {
         display: none;
     }

     .logo img.mobile-logo {
         display: block;
     }
 }

 .header-top {
     border: 0;
     border-bottom: 1px solid rgb(43, 42, 42);
 }

 /*all hover*/
 .hotline:hover,
 .Account:hover,
 #language-selector:hover,
 #currency-selector:hover,
 .heart:hover,
 .cart:hover {
     color: rgb(230, 34, 34);
     transition: all 0.3s;
 }

 .lang-item:hover a {
     color: rgb(255, 0, 0) !important;
     transition: all 0.3s;
 }

 .currency-item:hover a {
     color: rgb(255, 0, 0) !important;
     transition: all 0.3s;
 }

 #language-selector:hover #language-menu {
     display: block !important;
 }

 .position-relative:hover #searchSuggestions {
     display: block !important;
 }

 #currency-selector:hover #currency-menu {
     display: block !important;
 }

 /*for div Suggestions*/
 .ptlr-10 {
     padding-top: 28% !important;
     left: -3%;
     width: 106%;
     top: -22%
 }

 .form-select {
     width: 139% !important;
 }

 .fs-08 {
     font-size: 1.5rem;
 }