body {
    height: 3000px;
}

/*logo*/
.normal-logo {
    max-width: 9vw;
    height: auto;
}


.mobile-logo {
    max-width: 20vw;
    height: auto;
    display: none;
}


@media (max-width: 768px) {
    .logo img.normal-logo {
        display: none;
    }

    .logo img.mobile-logo {
        display: block;
    }

    .header-top-left {
        margin-left: 12.5rem;
    }
}

.w-92 {
    width: 92% !important;
}

.custom-height {
    height: 40vh;
}

@media (max-width: 768px) {

    .custom-height,
    .custom {
        height: 50vh;
        /* خليهم أطول شويه في الشاشات الصغيرة */
    }

}

/*danger hover header*/
.hover-danger {
    transition: color 0.3s ease;
}

.hover-danger:hover {
    color: #dc3545 !important;
}


/* hide blocks*/
#language-selector:hover #language-menu,
#currency-selector:hover #currency-menu,
#Homepage-selector:hover #Homepage-menu,
#Categories-selector:hover #Categories-menu,
#Products-selector:hover #Products-menu,
#Pages-selector:hover #Pages-menu,
#Recentlyviewed-selector:hover #Recentlyviewed-menu,
.form:hover #searchSuggestions {
    display: block !important;
}


/*Just for final touches*/
.ptlr-10 {
    padding-top: 28% !important;
    left: -4%;
    width: 100%;
    top: -28%;
}

.form-select {
    width: 139% !important;
}

.fs-08 {
    font-size: 1.5rem;
}

.ml {
    margin-left: 7.5%;
}

.hamburger-wrapper {
    position: relative;
}

@media (max-width: 767.98px) {
    .hamburger-wrapper {
        position: absolute;
        top: 0;
        left: -20;
        z-index: 1050;
    }
}

.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid white;
    opacity: 0.6;
    margin: 0 6px;
    transition: opacity 0.3s, background-color 0.3s;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: #fff;
}

.bg-gray {
    background-color: #e0e0e0 !important;
}

.hover-zoom {
    transition: transform 0.4s ease-in-out;
}

.hover-zoom:hover {
    transform: scale(1.2);
}


.custom-hover-btn {
    transition: all 0.3s ease;
}

.custom-hover-btn:hover {
    transform: scale(1.1);
    background-color: transparent !important;
    border: 1px solid #fff;
}

/*page 3*/
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in-left {
    animation: slideInLeft 1s ease-out forwards;
}

.slide-in-right {
    animation: slideInRight 1s ease-out forwards;
}

.slide-in-bottom {
    animation: slideInBottom 1s ease-out forwards;
}

/* page 4*/


.card-hover-content {
    height: 30vh;
}

.card-hover-container {
    height: 30vh;
    transition: all 0.4s ease;
}

.card-hover-content:hover {
    height: 40vh;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}





/*33*/
/*for line under word*/

a.active {
    border-bottom: 2px solid;
}

.slide-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    /* Optional */
}

.slide-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1%;
    height: 1px;
    width: 100%;
    background-color: black;
    /* underline color */
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.slide-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
.ps-5 {
     padding-left: 6rem!important;
}
/* forth-section part-2 */
.cardhover {
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.5s ease;
}

.card:hover .cardhover {
    opacity: 1;
    transform: translateY(0);
}

.card:hover {
    box-shadow: 0 0 5px rgba(169, 169, 169, 0.8);
}

.discount {
    font-size: 0.75rem;
    margin: 8px;
}


/* for nav*/

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: flex;
}
.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  pointer-events: none;
  z-index: 10;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  width: 30px;
  height: 60px;
  background-color: white;
  color: black;
  border-radius: 10%;
  border: 1px solid #ddd;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  opacity: 0;
  transition: background-color 0.3s, opacity 0.3s, transform 0.3s;
  position: relative;
}

.owl-carousel .owl-nav button.owl-prev {
  transform: translateX(-60%);
}
.owl-carousel .owl-nav button.owl-next {
  transform: translateX(60%);
}
.owl-carousel .item:hover .owl-nav button {
  opacity: 1;
}

.owl-carousel:hover .owl-nav button {
  opacity: 1;
}

.owl-carousel .owl-nav button:hover {
  background-color: rgb(0, 0, 0) !important;
  color: white !important;
  border-color: black;
}
