/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*Global Rules*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    height: 5000px;
    background-color: gainsboro;
}
.btn{
    height: 50px;
    width: 50px;
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 50px;
    display: none;
    color: white;
    margin: 50px auto;
    font-size: 1.5rem;
    font-weight: 900;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.choise{
    background-color: gray;
    width: 50%;
    margin: 10px auto;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    padding: 15px 25px;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.black{
    background-color: black;
}
.board{
    width: 50%;
    margin: 10px auto;
    height: 500px;
}