/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*Global Rules*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    height: 5000px;
    background-image: url(WhatsApp\ Image\ 2025-09-06\ at\ 21.36.50_72c55af1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
}
img {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 100px;
    right: 0;
    animation: move 5s infinite linear;
    -webkit-animation: move 5s infinite linear;
    animation-direction: alternate;
}
.ma{
    width: 100px;
    height: 100px;
    bottom: 150px;
    right: 0;
    animation: move 5s infinite linear;
    -webkit-animation: move 5s infinite linear;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

    

/* Animation */
@keyframes move {
    0% {
        transform: translatex(0);
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -ms-transform: translatex(0);
        -o-transform: translatex(0);
}
    10% {
        transform: translatex(-100px);
        -webkit-transform: translatex(-100px);
        -moz-transform: translatex(-100px);
        -ms-transform: translatex(-100px);
        -o-transform: translatex(-100px);
}
 20% {
        transform: translatex(-200px);
        -webkit-transform: translatex(-200px);
        -moz-transform: translatex(-200px);
        -ms-transform: translatex(-200px);
        -o-transform: translatex(-200px);
}
 40% {
        transform: translatex(-400px);
        -webkit-transform: translatex(-400px);
        -moz-transform: translatex(-400px);
        -ms-transform: translatex(-400px);
        -o-transform: translatex(-400px);
}
 60% {
        transform: translatex(-600px);
        -webkit-transform: translatex(-600px);
        -moz-transform: translatex(-600px);
        -ms-transform: translatex(-600px);
        -o-transform: translatex(-600px);
}
 80% {
        transform: translatex(-800px);
        -webkit-transform: translatex(-800px);
        -moz-transform: translatex(-800px);
        -ms-transform: translatex(-800px);
        -o-transform: translatex(-800px);
}
 100% {
        transform: translatex(-1300px);
        -webkit-transform: translatex(-1300px);
        -moz-transform: translatex(-1300px);
        -ms-transform: translatex(-1300px);
        -o-transform: translatex(-1300px);
}
}