/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*Global Rules*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    height: 5000px;

}
.parent{
    height: 600px;
    width: 600px;
    background-color: lightblue;
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3,minmax(100px,1fr));
    gap: 10px;
}
.parent div{
    padding: 20px;
    background-color: red;
    color: wheat;
    text-align: center;
    font-weight: bold;
}
