/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*Global Rules*/
* {
    margin: 0;
    padding: 0;

}

body {
    font-family: "Work Sans", sans-serif;
    height: 5000px;

}

.one {
    background-color: #ff5722;
    width: 150px;
    color: white;
    padding: 20px;
    margin: 40px auto;
    text-align: center;
    position: relative;
}

.one::before,
.one::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ff5722;
    top: 0;
    left: 0;
    z-index: -1;
}

.one::before {
    transform: skew(10deg, 10deg);
}

.one::after {
    transform: skew(-10deg, -10deg);
}

hr {
    width: 100%;
    height: 3px;
    background-color: black;
}

.two {
    background-color: #044f5e;
    width: 150px;
    color: white;
    margin: 40px auto;
    text-align: center;
    position: relative;
    font-size: 3rem;
    font-weight: 600;
    display: flex;
    padding: 20px 8px;
}

.two::before,
.two::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #044f5e;
    border-left: 10px solid white;
    top: 0;
    left: 0;
    z-index: -1;
}

.two::before {
    border: none !important;
    transform: skew(30deg, 0) translate(-75px, 0);
    -webkit-transform: skew(30deg, 0) translate(-75px, 0);
    -moz-transform: skew(30deg, 0) translate(-75px, 0);
    -ms-transform: skew(30deg, 0) translate(-75px, 0);
    -o-transform: skew(30deg, 0) translate(-75px, 0);
}

.two::after {
    transform: skew(30deg, 0) translate(-50px, 0);
    -webkit-transform: skew(30deg, 0) translate(-50px, 0);
    -moz-transform: skew(30deg, 0) translate(-50px, 0);
    -ms-transform: skew(30deg, 0) translate(-50px, 0);
    -o-transform: skew(30deg, 0) translate(-50px, 0);
}

/* .class {
    matrix(3, 0.2679, 0, 3, 20, 100);
    scaleX(3)
    skewY (0.2679)
    skewX (0)
    scaleY(3)
    translateX(20)
    translateY(100)
} */
.three {
    width: 200px;
    height: 200px;
    background-color: #607d8b;
    margin: 120px auto;
    position: relative;
    border-bottom: 5px solid black;
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.three::after {
    content: "Elzero";
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: bold;

}

.three::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: black;
    transform: rotate(50deg);
    top: -77px;
    left: 33px;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    -webkit-transform: rotate(44.8deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
}

.box {
  perspective: 300px; 
}

.four {
  width: 200px;
  height: 200px;
  margin: 120px auto;
  position: relative;
  transform-style: preserve-3d;
  transition: transform .3s;
  -webkit-transition: transform .3s;
  -moz-transition: transform .3s;
  -ms-transition: transform .3s;
  -o-transition: transform .3s;
  transform-origin: center;
}

.four::before {
  content: "Front";
  position: absolute;
  inset: 0;
  background-color: rgb(254, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.four::after {
  content: "Back";
  position: absolute;
  inset: 0;
  background-color: rgb(0, 220, 254);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotatex(180deg);
  backface-visibility: hidden;
  -webkit-transform: rotatex(180deg);
  -moz-transform: rotatex(180deg);
  -ms-transform: rotatex(180deg);
  -o-transform: rotatex(180deg);
}

.four:hover {
  transform: rotatex(180deg);
  -moz-transform: rotatex(180deg);
  -ms-transform: rotatex(180deg);
  -o-transform: rotatex(180deg);
  -webkit-transform: rotatex(180deg);
}
