/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*Global Rules*/
* {
    margin: 0;
    padding: 0;

}

body {
    font-family: "Work Sans", sans-serif;
    height: 5000px;

}

div.red.main {
    color: red;
}

hr {
    width: 100%;
    height: 5px;
    background-color: black;
    margin: 20px 0;
}

.assign-2.parent div:nth-child(2) {
    color: red;
}

.assign-3.parent>div:only-child {
    color: red;
}

.assign-4>div[title]:not(.no-need) {
    color: red;
}

.assign-5>div:nth-of-type(2) div:last-child {
    color: red;
}

.assign-6 div:not(.no-need) div:nth-last-of-type(2) {
    color: red;
}

.assign-7 div:first-child div:nth-child(5) {
    color: red;
}

.assign-8 > *:not(div:first-child):not(div:last-child):not(h3) {
  color: red;
}