/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*Global Rules*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    height: 5000px;

}

/*-------------*/
.d1 {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 5%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 20px 0 0 rgb(255, 106, 0),
        -20px 0 0 rgb(0, 188, 251);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: 500;
    color: rgb(255, 106, 0);
    background-color: rgb(236, 235, 235);
}

hr {
    height: 2px;
    background-color: black;
    width: 100%;
    margin: 3%;
}

.parent,
.parent2 {
    width: 600px;
    height: 300px;
    background-color: rgb(228, 227, 227);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: auto;
    padding: 10px;

}

.parent>div {
    width: 30%;
    height: 40px;
    background-color: rgb(255, 47, 0);
    text-align: center;
    color: white;
    padding: 10px;
}

.parent2>div {
    width: 30%;
    text-align: center;
    color: white;
    padding: 10px;
    background-color: rgb(23, 62, 73);
    align-self: stretch;

}

.one {
    align-self: self-end !important;
    order: 6;
}

.two {
    order: 5;
    height: 50%;
}

.five {
    order: 4;
}

.three {
    align-self: self-start !important;

    order: 2;
}

.four {
    align-self: self-start !important;
    order: 3;
}

.six {
    height: 50%;

}

.parent3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 600px;
    height: 300px;
    margin: auto;
}

.parent3>div {
    background-color: teal;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.onee,
.threee {
    flex: 0 0 50px;
    align-self: flex-end;
    width: 50px;
}

.parent3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 300px;
    margin: auto;
    background-color: #eee;
    padding: 10px;
}

.parent3>div {
    background-color: teal;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.onee,
.threee {
    align-self: flex-end;
    flex: 0 0 80px;
}

.twoo {
    align-self: flex-start;
    flex: 0 0 80px;
    width: 300px;
}

.parent4>div {
    width: calc(80% / 4);
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.oneee {
    order: 2;
    background-color: rgb(236, 117, 32);
}

.twooo {
    align-self: flex-end;
    order: 3;
    background-color: greenyellow;
}

.threeee {
    order: 3;
    background-color: brown;
}

.fourr {
    align-self: flex-end;
    order: 1;
    background-color: purple;
}

.parent4 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 300px;
    background: #ddd;
    width: 600px;
    margin: auto;
}

.page {
    width: 100%;
    height: 90vh;
    padding: 10px;
    background-color: rgb(225, 225, 225);
}

.box {
    background-color: rgb(192, 190, 190);
    padding: 12px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.logo {
    text-align: center;
    flex: 0 0 8%; /* ياخد 10% */
}

.links {
    flex: 1; 
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-left: 2% ;
}

.links li {
    margin-left: 2%;
}

.content {
    width: 70%;
    height: 400px;
}

.sidebar {
    width: 28%;
    height: 400px;
}

.footer {
    display: flex;
}

.copyright,
.design {
    width: 50%;
}

.design {
    text-align: end;
}